PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=inventarios_db
DB_USERNAME=postgres
DB_PASSWORD=change_me

JWT_SECRET=tu_jwt_supersecreto
JWT_EXPIRES_IN=8h
API_KEY_SECRET=mi_apikey_supersecreta
